<%- include('partials/header') -%>
<!-- Page Wrapper -->
<div id="page-wrapper">
  <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <div class="logo"><img src="/images/logo.png" class="icon" alt=""></div>    
        <h2>KJ Pizza - MySchedule</h2>
      </div>
    </section>

  <!-- Wrapper -->
    <section id="wrapper">

      <!-- One -->
        <section id="one" class="wrapper spotlight style1">
          <div class="inner">
            <h3>Create New Location</h3>
            <form method="post" action="/createLocation">
                <div class="fields">
                    <div class="field">
                      <% if (locals.existingLocation) { %>                                    
                        <p class = "errorMessage">Location Name or Location Number already exists, please try again</p> 
                      <% } %> 
                        <label for="locationName">Name</label>
                        <input type="text" name="locationName" id="locationName" />
                    </div>
                    <div class="field">
                      <label for="locationNumber">Number</label>
                      <input type="text" name="locationNumber" id="locationNumber" />
                    </div>             
                </div>  
                <ul class="actions">
                    <li><input type="submit" value="Submit" /></li>
                </ul>
            </form>

          </div>
        </section>
        <section id="two" class="wrapper alt spotlight style2">
          <div class="inner">
            <div class ="features">
              <a href="/profile" class="button">Back</a>
              <a href="/logout" class="button">Logout</a>
            </div>  
          </div>
        </section>
        <%- include('partials/footer') -%>