<%- include('partials/header') -%>
<!-- Page Wrapper -->
<div id="page-wrapper">
  <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <div class="logo"><img src="/images/logo.png" class="icon" alt=""></div>    
        <h2>KJ Pizza - MySchedule</h2>
      </div>
    </section>

  <!-- Wrapper -->
    <section id="wrapper">

      <!-- One -->
        <section id="one" class="wrapper spotlight style1">
          <div class="inner">
            <h3>Create New Employee Profile</h3>
                              <form method="post" action="/createUser">
                                  <div class="fields">
                                      <div class="field">
                                          <label for="username">Username</label>
                                          <input type="text" name="username" id="username" />
                                          <% if (locals.errors && locals.errors.includes('uniqueUserError')) { %>                                    
                                          <p class = "errorMessage">Username or Account registered to this Email already exists, please try again</p> 
                                          <% } %> 
                                      </div>
                                      <div class="field">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" />
                                        <% if (locals.errors && locals.errors.includes('validEmailError')) { %>                                        
                                        <p class = "errorMessage">Not a valid email, please try again</p>
                                        <% } %>
                                    </div>
                                      <div class="field">
                                          <label for="password">Password</label>
                                          <input type="password" name="password" id="password" />
                                          <% if (locals.errors && locals.errors.includes('passwordMatchError')) { %> 
                                          <p class = "errorMessage">Passwords do not match, please try again</p>
                                          <% } %>
                                          <% if (locals.errors && locals.errors.includes('passwordLengthError')) { %> 
                                            <p class = "errorMessage">Passwords must be at least 8 characters</p>
                                          <% } %>
                                      </div>
                                      <div class="field">
                                        <label for="confirmPassword">Confirm Password</label>
                                        <input type="password" name="confirmPassword" id="confirmPassword" />
                                    </div>
                                      <div class="field">
                                        <label for="firstname">First Name</label>
                                        <input type="text" name="firstname" id="firstname" />
                                    </div>
                                    <div class="field">
                                        <label for="lastname">Last Name</label>
                                        <input type="text" name="lastname" id="lastname" />
                                    </div>
                                    <div class="field">
                                        <label for="payrate">Pay Rate</label>
                                        <input type="text" name="payrate" id="payrate" class="smallerbox" />
                                        <input type="radio" id="hourly" name="typeofpay" value="hourly" checked/>
                                        <label for="hourly">Hourly</label>
                                        <input type="radio" id="salary" name="typeofpay" value="salary"/>
                                        <label for="salary">Salary</label>
                                    </div>
                                    <div class="field">
                                      <label for="position">Position</label>
                                      <select name="position" id="position">
                                        <% if(user.position === 'admin') { %>
                                        <option value="admin">Admin</option>
                                        <option value="districtmanager">District Manager</option>
                                        <% } %>
                                        <% if(user.position === 'admin' || user.position ==="districtmanager") { %>
                                        <option value="generalmanager">General Manager</option>
                                        <% } %>
                                        <option value="manager">Manager</option>                                        
                                        <option value="crew">Crew</option>
                                      </select>
                                      <!-- change to location dropdown menu -->
                                      <div class="field">
                                        <label for="location">Location</label>
                                        <select name="location" id="location">
                                          <option value="none" selected disabled hidden> Select a Location </option>
                                          <% for(let i = 0; i<locations.length; i++) { %>
                                            <option value="<%=`${locations[i].locationName}`%>"%>"><%=`${locations[i].locationNumber} - ${locations[i].locationName}` %></option>
                                          <% } %>   
                                        </select>                                       
                                       </div>                                      
                                    </div>
                                  </div>  
                                  <ul class="actions">
                                      <li><input type="submit" value="Submit" /></li>
                                  </ul>
                              </form>

          </div>
        </section>
        <section id="two" class="wrapper alt spotlight style2">
          <div class="inner">
            <div class ="features">
              <a href="/profile" class="button">Back</a>
              <a href="/logout" class="button">Logout</a>
            </div>  
          </div>
        </section>
        <%- include('partials/footer') -%>