<%- include('partials/header') -%>
<!-- Page Wrapper -->
<div id="page-wrapper">
  <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <div class="logo"><img src="/images/logo.png" class="icon" alt=""></div>    
        <h2>KJ Pizza - MySchedule</h2>
      </div>
    </section>

  <!-- Wrapper -->
    <section id="wrapper">

      <!-- One -->
        <section id="one" class="wrapper spotlight style1">
          <div class="inner">
            <h3>Edit Schedule</h3>
            <% if (scheduleDates) { %>
            <form action="/schedules/editSelectedSchedule" method="get">
                <div class="features">
                  <label for="scheduleDate" >Select Schedule to Edit</label>
                  <select name="scheduleDate" class="schedule">
                          <option value="none" selected disabled hidden> Select a Date </option>
                      <% for(let i = 0; i<scheduleDates.length; i++) { %>
                          <option value="<%=`${scheduleDates[i]}`%>"% name="schedule"><%=`${scheduleDates[i]}` %></option>
                      <% } %>  
                  </select>    
                <ul class="actions">
                    <li><input type="submit" value="Submit"/></li>
                </ul>
                </div>
            </form>
            <% } %>
          </div>
        </section>
        <section id="two" class="wrapper alt spotlight style2">
          <div class="inner">
            <div class ="features">
              <a href="/profile" class="button">Back</a>
              <a href="/logout" class="button">Logout</a>
            </div>  
          </div>
        </section>
        <%- include('partials/footer') -%>