<%- include('partials/header') -%>
<!-- Page Wrapper -->
<div id="page-wrapper">
  <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <div class="logo"><img src="/images/logo.png" class="icon" alt=""></div>    
        <h2>KJ Pizza - MySchedule</h2>
        <p>Please Login to Continue</p>
      </div>
    </section>

  <!-- Wrapper -->
    <section id="wrapper">

      <!-- One -->
        <section id="one" class="wrapper spotlight style1">
          <div class="inner">
                              <form method="post" action="/login">
                                  <div class="fields">
                                      <div class="field">
                                          <label for="username">Username</label>
                                          <input type="text" name="username" id="username" />
                                      </div>
                                      <div class="field">
                                          <label for="password">Password</label>
                                          <input type="password" name="password" id="password" />
                                      </div>
                                  </div>
                                  <% if (locals.messages.errors) { %>
                                  <p class = "errorMessage">Username or Password incorrect, please try again - Both are CaSe SeNsItIvE!</p>
                                  <% } %>
                                  <ul class="actions">
                                      <li><input type="submit" value="Log In" /></li>
                                  </ul>
                              </form>

          </div>
        </section>
        <%- include('partials/footer') -%>