<%- include('partials/header') -%>
<!-- Page Wrapper -->
<div id="page-wrapper">
  <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <div class="logo"><img src="/images/logo.png" class="icon" alt=""></div>    
        <h2>KJ Pizza - MySchedule</h2>
        <p>Welcome <%= user.firstName %>, What would you like to do today?</p>
      </div>
    </section>

  <!-- Wrapper -->
    <section id="wrapper">

      <!-- One -->
        <section id="one" class="wrapper spotlight style1">
          <div class="inner">
              <div class ="features">
              <% if (user.position === 'admin') { %>
              <a href ="/createLocation" class="button">Add New Location</a>
              <a href ="/editLocation" class="button">Edit Location</a>
              <% } %>  
              <a href ="/createUser" class="button">Add Employee</a>
              <a href ="/editUser" class="button">Edit Employee</a>
              <a href ="/newSchedule" class="button">Create Schedule</a>
              <a href ="/editSchedule" class="button">Edit Schedule</a>
              <a href ="/viewSchedule" class="button">View Schedule</a>
              </div>

          </div>
        </section>
        <section id="two" class="wrapper alt spotlight style2">
          <div class="inner">
            <a href="/logout" class="button">Logout</a>
          </div>
        </section>
<%- include('partials/footer') -%>